#top {
    li {display: inline-block;}
    li:after { content: " |"; }
    li:last-child:after { content: ""; }
    a: {
	width: 32;
	vertical-align: text-bottom;
    }
    svg {
	display: inline-block;
	vertical-align: text-bottom;
	overflow: visible;
    }
}
body {
    font-size: x-large;
    margin: 2em;
    code {
	color: orangered;
	style: bold;

    }
}
